* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Pretendard Variable', 'Inter', sans-serif;
    background: #CDE3EE;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  .homepage-container {
    padding: 2rem;
    margin-top: 2rem;
    height: 800px;
    width: 1300px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
  /* 메뉴바 */
  .menubar {
    height: 600px;
    width: 65px;
    background: white;
    border-radius: 35px;
    
    margin-top: 40px;
    padding-top: 30px;
    
    
    box-shadow: 2px 6px 12px rgba(148, 163, 184, 0.35);
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .menubar a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
  }
  
  
  
  .menu-item {
    
    height: 63px;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

    cursor: pointer;
    
  }
  
  
  .fa-star {
    border:3px solid;
    padding: 3px;
    margin-bottom: 4px;
    border-radius: 30px;
  }
  
  .menu-item a {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  /* 메인 컨테이너 */
  .homepage {
    width: 93%;
    
    padding: 25px;
    padding-right: 40px;
    
    background-color: white;
    border-radius: 20px;
  
    display: flex;
    flex-direction: row;
  }
  
  /* 가운데 박스 */
  .center-box {
    width: 100%;
  
    padding: 15px;
  
    background: #CDE3EE80;
    border-radius: 20px;
  
  }
  
  .test-box {
  
    width: 90%;
    height: 100%;
    margin-left: 30px;
  
    border-radius: 20px;
    background: white;
    
    box-shadow: 2px 4px 18px rgba(95, 107, 122, 0.35);
  }
  
  
  
  /* 오른쪽 박스 */
  .right-box {
    width: 350px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  
  .right-box > div {
  
    border-radius: 20px;
  
  }
  
  /* 프로필 */
  .profile {
    flex-basis: 33%;
    width:90%;
    background: #CDE3EE;
    
    display: flex;
    flex-direction: column;
  }
  
  .profile-test {
    flex-basis: 44%;
    display: flex;
  }
  
  /* 12.06일 css 변경 - 신동국 */
  .profile-img {
    flex-basis: 44%;
    padding: 1rem;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
    /* 12.06일 css 변경 - 신동국 */
  
  .profile-text {
    flex-basis: 56%;
  
    display: flex;
    flex-direction: column;
  }
  
  .profile-nickname {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
  }
  
  .profile-edit {
    flex-grow: 1;
  
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  
  .profile-edit > a{
  
    color: black;  
    font-size: 10px;
    text-decoration: none;
  }
  
  .profile-edit > span{
    padding: 0px 5px;
    font-size: 15px;
  }
  
  .profile-introduction {
    padding: 8px;
  
    flex-basis: 56%;
  }
  
  /* 12.05 신동국 overflow-y, padding 추가 */
  .profile-introduction > div {
    padding: 10px;
    height: 100%;
    width: 100%;
    background: #FFFFFF80;
    border-radius: 20px;
    overflow-y: auto;
    word-break: break-all;
  }
  
  
  /* 달력 */
  .calendar {
    flex-basis: 44%;
    width:90%;
    background: #CDE3EE;
  }
  
  /* 친구 목록 랜덤 방문*/
  .friend-box {
    flex-basis: 11%;
  
    width:90%;
    padding: 10px;
  
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
  }
  
  .friend-box button {
    width: 80px;
    height: 35px;
    border-radius: 10px;
  
    border: 0px;
    background: #007096;

    cursor: pointer;
  
  }
  
.alert-write{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard Variable', 'Inter', sans-serif;
  background: #CDE3EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.homepage-container {
  padding: 2rem;
  margin-top: 2rem;
  height: 800px;
  width: 1300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* 메뉴바 */
.menubar {
  height: 600px;
  width: 65px;
  background: white;
  border-radius: 35px;

  margin-top: 40px;
  padding-top: 30px;


  box-shadow: 2px 6px 12px rgba(148, 163, 184, 0.35);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menubar a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
}



.menu-item {
  height: 63px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


  /* div {
    border: 1px solid;
  } */
.fa-star {
  border: 3px solid;

  padding: 3px;
  margin-bottom: 4px;
  border-radius: 30px;
}

.menu-item a {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 메인 컨테이너 */
.homepage {
  width: 93%;

  padding: 25px;
  padding-right: 40px;

  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
}

/* 가운데 박스 */
.center-box {
  width: 100%;

  padding: 15px;

  background: #CDE3EE80;
  border-radius: 20px;

}

/* 11.27 pagintion 추가로 인한 flex 추가 신동국 */
.test-box {

  width: 90%;
  height: 100%;
  margin-left: 30px;

  border-radius: 20px;
  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  box-shadow: 2px 4px 18px rgba(95, 107, 122, 0.35);
}


/* 페이지 네이션 시작 */
/* 11.27일 추가 - 신동국*/
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 10px;
  margin-top: auto;
}

.pagination li {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}

.current {
  font-weight: bold;
  background-color: #007096;
  border-radius: 50%;
  color: white !important;
  letter-spacing: 0 !important;
}
/* 페이지 네이션 끝 */






/* 오른쪽 박스 */
.right-box {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.right-box>div {

  border-radius: 20px;

}




/* 프로필 */
.profile {
  flex-basis: 33%;
  width: 90%;
  background: #CDE3EE;

  display: flex;
  flex-direction: column;
}

.profile-test {
  flex-basis: 44%;
  display: flex;
}

.profile-img {
  flex-basis: 44%;

  display: flex;

  justify-content: center;
  align-items: center;
}

.profile-text {
  flex-basis: 56%;

  display: flex;
  flex-direction: column;
}

.profile-nickname {
  flex-grow: 2;
  margin-top: 5px;

  display: flex;
  align-items: center;
}

.profile-edit {
  flex-grow: 1;


  display: flex;
  align-items: center;
}

/* 11.27일 추가 - 신동국 */
.logout {
  flex-grow: 3;

  display: flex;
  align-items: center;
}

.logout button {
  margin: 0px 10px;
  border: 0px;
  padding: 4px 5px;
  background-color: #007096;
  border-radius: 10px;

  color: white;
  font-size: 15px;
  
}

.profile-edit>a {

  color: black;
  font-size: 10px;
  text-decoration: none;
}

.profile-edit>span {
  padding: 0px 5px;
  font-size: 15px;
}

.profile-introduction {
  padding: 8px;

  flex-basis: 56%;
}

.profile-introduction>div {
  height: 100%;
  width: auto;
  background: #FFFFFF80;
  border-radius: 20px;
}





/* 달력 */
.calendar {
  flex-basis: 44%;
  width: 90%;
  background: #CDE3EE;
}




/* 친구 목록 랜덤 방문*/
.friend-box {
  flex-basis: 11%;

  width: 90%;
  padding: 10px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.friend-box button {
  width: 90px;
  height: 35px;
  background: #CDE3EE;
  border-radius: 10px;

  font-size: 16px;
  color: white;
  font-weight: bold;

  border: 0px;
  background: #007096;

  cursor: pointer;
}


/* 숨기기위한 용도로 만듬  */
.hidden {
  display : none;
  cursor: default;
}


/* 달력용 */
.sec_cal {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "NotoSansR";
}

.sec_cal .cal_nav {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}

.sec_cal .cal_nav .year-month {
  width: 100%;
  text-align: center;
  line-height: 1;
}

.sec_cal .cal_nav .nav {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
  display: block;
  width: 50px;
  height: 40px;
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 3px solid #000;
  border-width: 3px 3px 0 0;
  transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
  border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
  transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
  transform: rotate(45deg);
}

.sec_cal .cal_wrap {
  position: relative;
  margin: 0 auto;
}

.sec_cal .cal_wrap .days {
  display: flex;
  border-bottom: 1px solid #ffffff7a;
  padding: 5px 10px;
}

.sec_cal .cal_wrap::after {
  top: 368px;
}

.sec_cal .cal_wrap .day {
  display:flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: calc(100% / 6);
  text-align: left;
  color: #000000;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
}

.currentMonth.today {background: rgba(86, 158, 206, 0.548);}

.sec_cal .cal_wrap .dates {
  display: flex;
  flex-flow: wrap;
  height: 200px;
}

.dates{
  padding: 0px 10px;
  height: 100%;
}

.sec_cal .cal_wrap .day:nth-child(7n + 1) {
  color: #ed2a61;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
  color: #3c6ffa;
}

.sec_cal .cal_wrap .day.disable {
  color: #79797977;
}

.birthday {
  background-color: #ffffff80;
	position: relative;
}

.birthday span{
	position: absolute;  /*어떤 요소에 absolute를 주면 블럭요소는 inline으로 변경됨.*/
	background-color: #000;
	width: 200px;
	color : #fff;
	top : -80px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	left: 50%;                    /*중앙배치 : 왼쪽에서 50%위치*/
	transform: translateX(-50%);  /*중앙배치 : X크기값을 50%만큼 이동*/
	opacity: 0;                   /*이벤트설정 : 서서히 변하게 함*/
	transition: 0.5s;             /*어떤 변화가 요청되면 0.5초뒤에 일어나자.*/

	
	visibility: hidden;          /*특정 요소 접촉시 이벤트 발생*/

}

.birthday span:after {
	content : '';             /*가상클래스 before, after는 무조건 content가 있어야 작동*/
	position: absolute;
	background-color:#000;
	width : 10px;
	height: 10px;
	transform: rotate(45deg) translateX(-50%);  /*transform은 한 요소에 1번밖에 못쓰므로 합쳐줘야함*/
	bottom: -5px;
	left: 50%;                                  /*1. 왼쪽에서 50%위치에 둔다.*/
																							/*2. 크기값을 50%만큼 이동시켜준다.->항상 중앙에 위치하게됨*/

}

.birthday:hover span{
	opacity: 0.7;
	visibility: visible;     /*hover시 발생하는 이벤트*/
 
}

.write {
  width: 50px;
  height: 20px;
  background-color: #007096;
  border-radius: 10px;
  color: #fff;
  border: none;
}

.back-home button {
  width: 70px;
  height: 18px;
  background-color: #007096;
  border-radius: 10px;
  border: none;

  color: white;
  
}

button:hover {
  background-color: #00536e;
}

button:active {
  background-color: #00709660;
}


.menubar{
  gap: 20px;
}

.menubar .menu-item{
  height: initial;
}