<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>프로필 편집</title>
  <script src="https://kit.fontawesome.com/4d970bf746.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/profile-update.css">
  <link rel="stylesheet" href="/css/base.css">
  

</head>

<body>
  <div class="homepage-container">

    
    <th:block th:replace="~{base/myProfilebar}"></th:block>


    <div class="homepage">

      <div class="center-box">
        <div class="test-box">
          <div>
            <form action="/boards/application" method="POST" name="myPageFrm" id="profile" class="profileImage"
              enctype="multipart/form-data">
              <div class="profile-section">
                <div class="profile-image-area">
                  <img th:with="user=#{user.default.image}" th:src="${session.loginMember.profileImg ?: user}"
                    id="profileImg">
                </div>
                <span id="deleteImage">x</span>
                프로필 사진
                <label for="imageInput" class="imageInput">파일 선택
                  <input id="imageInput" name="imageInput" class="img-select" type="file" accept="image/*" style="display: none;">
                </label>


                <div class="color">
                  <span>배경색 바꾸기 : </span>
                  <input type="color" name="backgroundColor" id="backgroundColor"  th:value="${member.backgroundColor}">
                  <button type="button" class="color-button">기본색</button>
                </div>

                <div class="profile-info">
                  <label>닉네임
                    <input type="text" name="memberNickname" id="memberNickname" class="input-info" placeholder="변경할 닉네임을 입력해주세요." th:value="${member.memberNickname}">
                    <button type="button" id="checkNickname" class="info-button">중복확인</button><br>
                    <span class="signUp-message" id="nicknameMessage">한글, 영어, 숫자로만 2~10 글자로 입력해주세요.</span>
                  </label>
                </div>

                <div class="introduction">
                  <label>자기소개 변경 <br>
                    <textarea name="introduction" id="introduction" class="profile-edit-introduction" placeholder="자기소개 입력" th:text="${member.introduction}"></textarea>
                  </label> <br>
                  <button type="submit" id="application" class="introduction-button">적용</button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>



      
      <th:block th:replace="~{base/rightbox}"></th:block>

    </div>
  </div>
  </div>
  <script src="/js/profile-update.js"></script>
  <script src="https://kit.fontawesome.com/4d970bf746.js" crossorigin="anonymous"></script>
  <script src="/js/base.js"></script>
  <script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";

    if (message != null) alert(message);
  </script>
  
</body>

</html>