<div class="menubar">

    <div class="menu-item boards-main">

        <a><i class="fa-solid fa-star"></i>메인</a>
    </div>

    <div class="menu-item board-main">

        <a><i class="fa-solid fa-star"></i>게시판</a>
    </div>

    <div class="menu-item photo-main">

        <a><i class="fa-solid fa-star"></i>사진첩</a>

    </div>

    <div class="menu-item visitor-main">

        <a><i class="fa-solid fa-star"></i>방명록</a>

    </div>

    <div class="menu-item note-main">

        <a href="/note/main"><i class="fa-solid fa-star"></i>메모장</a>

    </div>

</div>