<div class="menubar">

    <div class="menu-item">

        <a href="/boards/main"><i class="fa-solid fa-star"></i>메인</a>
    </div>

    <div class="menu-item">

        <a href="/boards/profile-update"><i class="fa-solid fa-star"></i>프로필<br>편집</a>
    </div>

    <div class="menu-item">

        <a href="/member/pwChange"><i class="fa-solid fa-star"></i>비밀번호<br>변경</a>

    </div>

    <div class="menu-item">

        <a href="/member/privacyInfo-update"><i class="fa-solid fa-star"></i>개인정보<br>변경</a>

    </div>

    <div class="menu-item">

        <a href="/member/signOut"><i class="fa-solid fa-star"></i>회원탈퇴</a>

    </div>

</div>