<div class="right-box">
    <div class="profile">

        <!-- 프로필 닉네임, 프사, 글쓰기, 프로필수정 -->
        <div class="profile-test">
            <div class="profile-img">
                <!-- 12.05 신동국 이미지 추가 -->
                <img th:src="${session.loginMember.profileImg ?: '/images/user.jpg'}">
            </div>

            <div class="profile-text">
                <div class="profile-nickname"  th:text="${session.loginMember.memberNickname}">닉네임</div>

                <div class="profile-edit">
                    <a href="/boards/profile-update">프로필 수정</a>
                    <span> | </span>
                     <button class="write">글쓰기</button>
                </div>

                <!-- 11.27일 추가 우리 모두 반성합시다 ㅠㅠ -->
                <div class="logout">
                    <!-- 12.05 신동국 로그아웃 id 추가 밑 이벤트 추가 -->
                    <button type="button" id="logoutBtn">로그아웃</button>
                </div>


            </div>
        </div>

        <!-- 자기소개 -->
        <div class="profile-introduction">
            <!-- 12.05 신동국 자기 소개 추가 -->
            <div th:text="${session.loginMember.introduction ?: '안녕하세요. 잘 부탁드립니다'}">
            </div>
        </div>
    </div>

    <div class="calendar"></div>

    <div class="friend-box">
        <button onclick="location.href='/follow/main' ">팔로우</button>
        <button id="test">랜덤방문</button>
        
    </div>

</div>